nodered/flows/smart-plant-starter.json
[
    {
        "id": "smart_plant_tab",
        "type": "tab",
        "label": "Smart Plant",
        "disabled": false,
        "info": "Flow mẫu - Hệ thống giám sát cây thông minh\nSửa username/password trong node Đăng nhập trước khi Deploy"
    },
    {
        "id": "ui_base",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Smart Plant Monitor",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ui_tab_home",
        "type": "ui_tab",
        "name": "Giám sát",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_group_sensor",
        "type": "ui_group",
        "name": "Cảm biến (CN02)",
        "tab": "ui_tab_home",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_group_control",
        "type": "ui_group",
        "name": "Điều khiển (CN03)",
        "tab": "ui_tab_home",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "inject_login",
        "type": "inject",
        "z": "smart_plant_tab",
        "name": "Đăng nhập",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "{\"username\":\"admin\",\"password\":\"123456\"}",
        "payloadType": "json",
        "x": 120,
        "y": 80,
        "wires": [["http_login"]]
    },
    {
        "id": "http_login",
        "type": "http request",
        "z": "smart_plant_tab",
        "name": "POST /api/auth/login",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:3001/api/auth/login",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 340,
        "y": 80,
        "wires": [["fn_save_token"]]
    },
    {
        "id": "fn_save_token",
        "type": "function",
        "z": "smart_plant_tab",
        "name": "Lưu JWT token",
        "func": "if (msg.payload && msg.payload.token) {\n    flow.set('jwt_token', msg.payload.token);\n    node.status({fill:'green', shape:'dot', text:'Đã đăng nhập'});\n    msg.payload = 'Login OK: ' + msg.payload.user.username;\n} else {\n    node.status({fill:'red', shape:'ring', text:'Login lỗi'});\n    msg.payload = 'Lỗi: ' + JSON.stringify(msg.payload);\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 80,
        "wires": [["debug_login"]]
    },
    {
        "id": "debug_login",
        "type": "debug",
        "z": "smart_plant_tab",
        "name": "Login log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 80,
        "wires": []
    },
    {
        "id": "inject_poll",
        "type": "inject",
        "z": "smart_plant_tab",
        "name": "Poll 5s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 200,
        "wires": [["fn_add_auth_header"]]
    },
    {
        "id": "fn_add_auth_header",
        "type": "function",
        "z": "smart_plant_tab",
        "name": "Thêm JWT header",
        "func": "const token = flow.get('jwt_token');\nif (!token) {\n    node.warn('Chưa đăng nhập - bấm node Đăng nhập trước');\n    return null;\n}\nmsg.headers = { Authorization: 'Bearer ' + token };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 200,
        "wires": [["http_status"]]
    },
    {
        "id": "http_status",
        "type": "http request",
        "z": "smart_plant_tab",
        "name": "GET /api/status",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:3001/api/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 200,
        "wires": [["fn_parse_status"]]
    },
    {
        "id": "fn_parse_status",
        "type": "function",
        "z": "smart_plant_tab",
        "name": "Tách dữ liệu cảm biến",
        "func": "const latest = msg.payload.latest;\nif (!latest) return null;\n\nreturn [\n    { payload: latest.soilMoisture },\n    { payload: latest.temperature },\n    { payload: latest.humidity },\n    { payload: latest.pumpOn ? 'BƠM: BẬT' : 'BƠM: TẮT' }\n];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 200,
        "wires": [
            ["gauge_soil"],
            ["gauge_temp"],
            ["gauge_humid"],
            ["text_status"]
        ]
    },
    {
        "id": "gauge_soil",
        "type": "ui_gauge",
        "z": "smart_plant_tab",
        "name": "Độ ẩm đất",
        "group": "ui_group_sensor",
        "order": 1,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Độ ẩm đất (%)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": ["#ca3838", "#e6e600", "#00b500"],
        "seg1": "30",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 1000,
        "y": 160,
        "wires": []
    },
    {
        "id": "gauge_temp",
        "type": "ui_gauge",
        "z": "smart_plant_tab",
        "name": "Nhiệt độ",
        "group": "ui_group_sensor",
        "order": 2,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Nhiệt độ (°C)",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "25",
        "seg2": "35",
        "diff": false,
        "className": "",
        "x": 1000,
        "y": 200,
        "wires": []
    },
    {
        "id": "gauge_humid",
        "type": "ui_gauge",
        "z": "smart_plant_tab",
        "name": "Độ ẩm KK",
        "group": "ui_group_sensor",
        "order": 3,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Độ ẩm KK (%)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": ["#ca3838", "#e6e600", "#00b500"],
        "seg1": "30",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 1000,
        "y": 240,
        "wires": []
    },
    {
        "id": "text_status",
        "type": "ui_text",
        "z": "smart_plant_tab",
        "group": "ui_group_sensor",
        "order": 4,
        "width": "12",
        "height": "1",
        "name": "Trạng thái bơm",
        "label": "Thiết bị:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1010,
        "y": 280,
        "wires": []
    },
    {
        "id": "btn_pump_on",
        "type": "ui_button",
        "z": "smart_plant_tab",
        "name": "Bật bơm",
        "group": "ui_group_control",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "💧 BẬT BƠM",
        "tooltip": "",
        "color": "",
        "bgcolor": "#4CAF50",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "pump_on",
        "topicType": "str",
        "x": 110,
        "y": 340,
        "wires": [["fn_control_pump"]]
    },
    {
        "id": "btn_pump_off",
        "type": "ui_button",
        "z": "smart_plant_tab",
        "name": "Tắt bơm",
        "group": "ui_group_control",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "💧 TẮT BƠM",
        "tooltip": "",
        "color": "",
        "bgcolor": "#f44336",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "pump_off",
        "topicType": "str",
        "x": 110,
        "y": 380,
        "wires": [["fn_control_pump"]]
    },
    {
        "id": "btn_fan_on",
        "type": "ui_button",
        "z": "smart_plant_tab",
        "name": "Bật quạt",
        "group": "ui_group_control",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "🌀 BẬT QUẠT",
        "tooltip": "",
        "color": "",
        "bgcolor": "#2196F3",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "fan_on",
        "topicType": "str",
        "x": 110,
        "y": 420,
        "wires": [["fn_control_fan"]]
    },
    {
        "id": "btn_fan_off",
        "type": "ui_button",
        "z": "smart_plant_tab",
        "name": "Tắt quạt",
        "group": "ui_group_control",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "🌀 TẮT QUẠT",
        "tooltip": "",
        "color": "",
        "bgcolor": "#9E9E9E",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "fan_off",
        "topicType": "str",
        "x": 110,
        "y": 460,
        "wires": [["fn_control_fan"]]
    },
    {
        "id": "fn_control_pump",
        "type": "function",
        "z": "smart_plant_tab",
        "name": "Gọi API bơm",
        "func": "const token = flow.get('jwt_token');\nif (!token) return null;\n\nmsg.method = 'POST';\nmsg.url = 'http://localhost:3001/api/control/pump';\nmsg.headers = {\n    'Content-Type': 'application/json',\n    Authorization: 'Bearer ' + token\n};\nmsg.payload = { on: msg.payload };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 360,
        "wires": [["http_control"]]
    },
    {
        "id": "fn_control_fan",
        "type": "function",
        "z": "smart_plant_tab",
        "name": "Gọi API quạt",
        "func": "const token = flow.get('jwt_token');\nif (!token) return null;\n\nmsg.method = 'POST';\nmsg.url = 'http://localhost:3001/api/control/fan';\nmsg.headers = {\n    'Content-Type': 'application/json',\n    Authorization: 'Bearer ' + token\n};\nmsg.payload = { on: msg.payload };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 440,
        "wires": [["http_control"]]
    },
    {
        "id": "http_control",
        "type": "http request",
        "z": "smart_plant_tab",
        "name": "POST control",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 400,
        "wires": [["debug_control"]]
    },
    {
        "id": "debug_control",
        "type": "debug",
        "z": "smart_plant_tab",
        "name": "Control log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 400,
        "wires": []
    }
]
